<h1>Editing employee detail</h1>

<%= render "form", employee_detail: @employee_detail %>

<br>

<div>
  <%= link_to "Show this employee detail", @employee_detail %> |
  <%= link_to "Back to employee details", edit_employ_employee_detail_path %>
</div>
