<p style="color: green"><%= notice %></p>

<h1>Employee details</h1>

<div id="employee_details">
  <% @employee_details.each do |employee_detail| %>
    <%= render employee_detail %>
    <p>
      <%= link_to "Show this employee detail",
    employ_employee_detail_path(employee_detail.employ, employee_detail),
    class: "text-sm font-medium text-gray-700 hover:text-gray-900" %>
    </p>
  <% end %>
</div>

<%= link_to "New employee detail", new_employ_employee_detail_path %>
